.Slides{margin-top: 40px;}
.Slides .text {
  color: white;
  position: absolute;
  top: 100px;
  width: 600px;
  left: 0;

}
.Slides .text h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100px;
  width: 900px;
}

.Slides .text span {
  font-size: 27px;
  color: rgb(212, 143, 14);
  text-transform: capitalize;
  font-family: "Alegreya", serif;
  font-family: "Berkshire Swash", cursive;
}
.Slides .text p {
  color:rgb(228, 228, 228);
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 300px;

}
.Slides .text h3 a {
  color: rgb(207, 207, 207);
  font-size: 27px;
  font-family: "Alegreya", serif;
  font-family: "Berkshire Swash", cursive;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.Slides .text h3 a:hover {
  color: white;
}
.Slides .image img {
  height: 700px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  transition: all .7s;
}
.swiper-slide img:hover{filter: brightness(.7);
} 
.swiper-pagination-bullet {
  text-align: center;
  line-height: 0px;
  font-size: 15px;
  color: rgb(204, 201, 201);
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  padding:15px;
  padding-right: 20px;
  margin-left: 100px;
}

