@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;1,400&family=Berkshire+Swash&family=Indie+Flower&display=swap");
.Work h1 {
  text-align: center;
  color: rgb(238, 235, 235);
  font-family: "Alegreya", serif;
  font-family: "Berkshire Swash", cursive;
  margin-top: 60px;
}

.buttons {
  display: flex;
  flex-flow: row;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 700px;
}
.buttons .container .row button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 40px;
  background-color: rgba(5, 5, 5, 0.616);
  font-family: "Alegreya", serif;
  font-size: 19px;
  padding: 12px;
  margin-left: 10px;
  border: 2px solid rgb(212, 143, 14);
}

.buttons .container .row button:hover {
  color: white;
  background-color: rgb(10, 10, 10);
}
